<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar">
        <img v-bind:src="logo" class="logo">
      </div>

      <div class="cart">Cart({{ cart }})</div>

      <div class="produckt-display">
        <div class="product-container">
          <div class="product-image">
            <img v-bind:src="image" alt="Sword Foto">
          </div>
          <div class="product-info">
              <h1>{{ product + ' ' + infoProduct }}</h1>
              <p>When you are Master of {{product}} you must visit our{{infoProduct}}</p>
              <p v-show="onSale">ON SALE Knight</p>
              <p v-if="inStock && inventory > 10">In Stock</p>
              <p v-else-if="inventory <=10 && inventory > 0 ">Almost sold out</p>
              <p v-else>Out of Stock</p>

              <!-- loop to array from data -->
              <ul>
                <li v-for="detail in details"> {{detail}} </li>
              </ul>

              <div 
                v-for="variant in variants"
                v-bind:key="variant.id"
                v-on:mouseover="updateImage(variant.image)"> {{variant.color + ': ' + variant.name}} </div>

              <ul>
                <p>Available Sizes</p>
                <li v-for="size in sizes"> {{size}} </li>
              </ul>

              <button class="button" v-on:click="addToCart">Add to cart</button>
              <button class="button" v-on:click="resetCart">Clean cart</button>
          </div>
        </div>
      </div>

    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>
  </body>
</html>
